.navbar{
  background-color: #1a1a1a;
  color: #fff;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul{
  display: flex;
  list-style: none;
  gap: 1rem;
}

.localeSwitch {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin-left: 20px;
}

.localeSwitch p {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.active {
  color:red;
}